name: test
on:
    push:
        branch:
            - main

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout



jobs:
    run-terraform:
        runs-on: ubuntu-22.04

        steps:
        - name: Checkout Repository
          uses: actions/checkout@v3
        
        - name: Login to AWS Role
          uses: aws-actions/configure-aws-credentials@v5.1.1
          with:
            aws-region: us-east-1
            role-to-assume: arn:aws:iam::505789305843:role/github-actions-iam-role-for-runner-dev
            role-session-name: login-session

        - name: Deploy Terraform Code
          run: |
            terraform init
            terraform plan -var-file=dev.tfvars
            terraform apply -var-file=dev.tfvars -auto-approve -input=false