name: test
on:
    push:
        branch:
            - main

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout



jobs:
    run-terraform:
        runs-on: ubuntu-24.04
        steps:
        - name: clone repo 
          uses: actions/checkout@v3
        
        - name: login to aws role
          uses: aws-actions/configure-aws-credentials@v5.1.1
          with:
            aws-region: us-east-1
            role-to-assume: arn:aws:iam::505789305843:role/github-actions-iam-role-for-runner-dev
            role-session-name: login-session

        - run: |
            cd root-module/
            pwd
            ls
            aws sts get-caller-identity
            terraform init
