name: test
on:
    push:
        branch:
            - main
jobs:
    run-terraform:
        runs-on: ubuntu-24.04
        steps:
        # - uses: actions/checkout@v3

        - run: |
            pwd
            ls