name: test
on:
    push:
        branch:
            - main
            - develop
            - 'feature/**'

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout



jobs:
    run-terraform:
        environment: dev
        runs-on: ubuntu-22.04

        defaults:
          run:
            working-directory: root-module/

        steps:
        - name: Checkout Repository
          uses: actions/checkout@v3
        
        - name: Login to AWS Role
          uses: aws-actions/configure-aws-credentials@v5.1.1
          with:
            aws-region: us-east-1
            role-to-assume: ${{ vars.IAM_ROLE }}
            role-session-name: login-session

        - name: Init Terraform Code
          run: terraform init -backend-config="bucket=${{ vars.TF_STATE_BUCKET }}"

        - name: Check terraform format 
          run: terraform fmt -check


        - name: Plan Terraform Code
          run: terraform plan -var-file=${{ vars.STAGE }}.tfvars -input=false

        - name: Destroy Terraform Code
          run: terraform destroy -var-file=${{ vars.STAGE }}.tfvars -input=false -auto-approve

# To make this work, in other environments: staging, production
# 1. Create IAM roles similar to github-actions-iam-role-for-runner-dev in respective accounts
# 2. Update the role-to-assume ARN in the Login to AWS Role step accordingly
# 3. Update remote backend to use different S3 buckets for each environment in root-module/providers.tf
# 4. Update terraform commands to use the right .tfvars file for each environment